<html>
<head>

</head>
<style>

#head{
text-align: center;
}
</style>
<body>

<h1 id="heading">login page</h1>
<hr>
<form action="/login" method="POST">
<input type="text" name="name" placeholder="name" /><br>
<input type="text" name="email" placeholder="email" /><br>
<input type="text" name="password" placeholder="password" /><br>
<input type="text" name="_id"  placeholder="id"/>
<button type="submit"> login </button><br><br>
</form>


</body>
</html>
