<html>
<head>

</head>
<style>

#head{
text-align: center;
}
</style>
<body>

<h1 id="heading">Signup page</h1>
<hr>
<form action="/signup" method="POST">
<input type="text" name="name" placeholder="name" /><br>
<input type="text" name="email" placeholder="email" /><br>
<input type="text" name="password" placeholder="password" />
<button type="submit"> signup </button><br><br>
</form>





<form action="/logins" method="POST">
<button type="submit">already have an account? login in</button>
</form>


</body>
</html>
